.l-input-group {
    margin-bottom: 20px;
}
label {
    display: block;
}
.input,.input:focus {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
}
.submit-btn {
    padding: 4px 4px 4px 4px;
    width: 100%;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
}